.wrapper-status {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &_ready,
    &_processing,
    &_completed {
        width: 122px;
        max-height: 29px;
        min-height: 29px;
        border-radius: 4px;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        text-align: center;
        color: $white;
        padding: 4px 0;
        cursor: pointer;
    }

    &_ready {
        background: #43c478;
    }

    &_processing {
        background: #377dff;
    }

    &_completed {
        background: #ff6968;
    }
}
